@{
    ViewBag.Title = "UO Rebar";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about shro shro visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
