@{
    ViewBag.Title = "UO Rebar";
}

<h2>@ViewBag.Message</h2>

<p>
    Sever address: uorebar.com:2593
</p>
<p>
    IRC: #rebar on gamesurge
</p>
<p>
    Client: <a href="http://download.cnet.com/Ultima-Online-Mondain-s-Legacy-client/3000-7540_4-10432237.html" title="ML DL">Mondain's Legacy</a>
</p>
